@media all and (min-width:320px){
	.index_products ul li div a img{height:153px;}
}
@media all and (min-width:360px){
	#shop_skin_index .banner{height:180px;}
	#shop_skin_index .i0, #shop_skin_index .i1,/* #shop_skin_index .i2{height:115px;}*/
	.index_products ul li div a img{height:173px;}
}
@media all and (min-width:414px){
	.index_products ul li div a img{height:199px;}
}
@media all and (min-width:435px){
	.index_products ul li div a img{height:209px;}
}
@media all and (min-width:480px){
	#shop_skin_index .banner{height:240px;}
	#shop_skin_index .i0, #shop_skin_index .i1, /* #shop_skin_index .i2{height:135px;}*/
	.index_products ul li div a img{height:230px;}
}
@media all and (min-width:560px){
	#shop_skin_index .banner{height:280px;}
	#shop_skin_index .i0, #shop_skin_index .i1, /* #shop_skin_index .i2{height:155px;}*/
	.index_products ul li div a img{height:269px;}
}
@media all and (min-width:640px){
	#shop_skin_index .banner{height:320px;}
	#shop_skin_index .i0, #shop_skin_index .i1, /* #shop_skin_index .i2{height:175px;}*/
	.index_products ul li div a img{height:307px;}
}